.container-fluid{
    background-color: white;
    padding:0;
}

.jumbotron{
    display: flex;
    flex-direction: column;
    background-image:url('/assets/backgrounds/h_img.jpg') ;
    height:70vh;
    
}

.content{
    text-align: center;
    justify-content: center;
    color:white;
    width:540px;
    margin: auto;

}