.container-fluid{
    background-color: white;
    padding:0;
}

.jumbotron{
    display: flex;
    flex-direction: column;
    background-image:url('/assets/backgrounds/h_img.jpg') ;
    background-size: cover;
    height:70vh;
    
}

.content{
    text-align: center;
    justify-content: center;
    color:white;
    width:540px;
    margin: auto;

}

.about{
    text-align: center;
}

.services{
    display: flex;
    flex-direction: column;
    background-image: url('/assets/backgrounds/s_image.jpg');
    background-size: cover;
    height:50vh;
}

.services >.content{
    color:white;
    text-align: center;
    justify-content: center;
    margin:auto;
    
}